*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}
body{
background: linear-gradient(to top, #fad0c43d 0%, #ffd1ff 100%);
}
.home{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 50px;
  color: black;
}
span{
  font-size: 25px;
  color: rgb(129, 59, 129);
}  
.nav{
    border-radius: 10px;
    padding-top: 55px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100px;
    padding-bottom: 30px;
    margin-bottom: 80px;
}
.move{
    margin-left: 15px;
}
.exercise{
  display: flex;
  justify-content: space-between;
}
footer {
  bottom: 0;
 position: fixed;
  width: 100%;
  font-size: 20px;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
.body_parts{
  width: 350px;
  margin-top: 50px;
  margin-right: 70px;
}
.margin{
  border: 1px solid black;
  margin-left: 800px;
  margin-top: 20px;
  height: 650px;
}
.slogan{
  margin-left: 450px;
  font-size: 28px;
}



@media (max-width: 480px) {


    span {
        font-size: 18px;
    }

    .home {
        font-size: 35px;
        padding-left: 15px;
    }
.nav {
    border: 1px solid black;
    border-radius: 10px;
    width: 95%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
  }
    .exercise {
        margin-top: 40px;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .exe_name,
    .exe_name1,
    .exe_name2 {
        font-size: 16px;
        margin-left: 0;
    }

    .days_plans {
        margin-left: 10px;
        width: 90%;
    }

    .explain_about_exe {
        margin-left: 10px;
    }

    ul li {
        margin-left: 20px;
        font-size: 15px;
    }

    .area {
        flex-direction: column;
        margin-left: 10px;
        gap: 10px;
    }

    footer {
        font-size: 14px;
        padding: 8px;
    }
}