*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}
body{
    background: linear-gradient(to top, #fad0c43d 0%, #ffd1ffd5 100%);
}
.home{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 50px;
  color: black;
}
span{
  font-size: 25px;
  color: rgb(129, 59, 129);
}  
.nav{
    border-radius: 10px;
    padding-top: 55px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100px;
    padding-bottom: 30px;
}
.move{
    margin-left: 15px;
}
.arranging_diet_flex{
    display: flex;
    padding-bottom:100px;
}
.diet_day{
    margin-left: 100px;
    display: flex;
    gap: 60px;
}
.diet_box{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.diet{
    margin-top: 100px;
    width: 56%;
}
.diet_box1{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 24px;  
    margin-top: 20px;
}
.first{
    background-color:rgba(240, 128, 128, 0.229);
}
.diet_box:hover{
    transform: scale(1.05);
}
.diet_box1:hover{
    transform: scale(1.05);
}
.days_plans{
    border: 1px solid black; 
    margin-top: 80px;
}
footer {
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
footer p{
  display: flex;
  justify-content: center;
}
.food_type{
    margin-top: 40px;
    display: flex;
    width: 280px;
    gap: 20px;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 10px;
}

.food_explaination{
    margin-left: 100px;
    margin-top: 40px;
}
.diet_heading{
    margin-left: 120px;
    margin-top: 40px;  
}
.Nonveg_food{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
}
.veg_food{
    border: 1px solid black;
    padding: 10px 25px;
    border-radius: 10px;
    margin-left: 8px;
}
.veg_food:hover{
    background-color: rgba(90, 214, 90, 0.514);
}
.Nonveg_food:hover{
    background-color: rgba(90, 214, 90, 0.514);
}
a{
    text-decoration: none;
    color: black;
}
.food_plan{
    margin-top: 40px;
    margin-left: 20px;

}
.food_plan ul{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 30px;
}


@media (max-width: 480px){

.home{
    font-size: 35px;
    padding-left: 10px;
}

span{
    font-size: 18px;
}

.nav {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-top: 60px;
  } 

.move{
    margin-left: 0;
}

.arranging_diet_flex{
    flex-direction: column;
}

.diet_day{
    flex-direction: column;
    margin-left: 10px;
    gap: 20px;
}
.diet_day {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.diet_box,
.diet_box1 {
    width: 100%;  
    font-size: 15px;
    padding: 10px;
}

.diet {
    width: 95%;
    margin-left: 5px;
}

.days_plans{
    width: 95%;
    margin-left: 10px;
    margin-top: 40px;
}

.food_type{
    flex-direction: column;
    width: 90%;
    margin-left: 10px;
    padding: 15px;
}

.food_explaination{
    margin-left: 10px;
    margin-top: 20px;
}

.diet_heading{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
}

.food_plan{
    margin-left: 10px;
}

.food_plan ul{
    font-size: 16px;
    margin-left: 15px;
}

.veg_food,
.Nonveg_food{
    margin-left: 0;
    width: 90%;
    text-align: center;
}

footer{
    font-size: 14px;
    padding: 8px;
}
}